<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:pt-6 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Thông tin Cơ quan/Đơn vị
                </h2>
            </div>
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ID</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Cơ quan/Đơn vị</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden bg-card" cdkScrollable>

        <div class="w-full flex justify-center mt-8">
            <div class="w-full max-w-3xl">
        
                <!-- Form -->
                <form [formGroup]="accountForm">
                    <div class="grid sm:grid-cols-4 gap-6 w-full">
                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Tên cơ quan</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                                <input [formControlName]="'name'" matInput>
                            </mat-form-field>
                        </div>
        
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Mã cơ quan</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                                <input [formControlName]="'code'" matInput>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-4">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Mô tả</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                                <input [formControlName]="'description'" matInput>
                            </mat-form-field>
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
        
    </div>
</div>
