<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-6 sm:pb-20 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Danh sách ứng dụng
                </h2>
            </div>
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ID</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Ứng dụng</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-flat-button [color]="'primary'" (click)="addApp()">
                <mat-icon class="icon-size-4" [svgIcon]="'mat_outline:add'"></mat-icon>
                <span class="ml-2">Thêm mới</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto -mt-16 p-6 sm:p-10 overflow-hidden bg-card" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(apps$ | async) as data">
                <ng-container *ngIf="data.apps.length > 0; else noapps">
                    <div class="grid">
                        <!-- Header -->
                        <div class="app-grid z-10 sticky top-0 grid gap-10 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>
                            <div class="hidden lg:block">STT</div>

                            <div [mat-sort-header]="'code'">Mã ứng dụng</div>

                            <div [mat-sort-header]="'name'">Tên ứng dụng</div>
                            <div class="hidden lg:block" [mat-sort-header]="'description'">Mô tả</div>
                            <div class="">Thao tác</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(apps$ | async) as data">
                            <ng-container *ngFor="let app of data.apps; trackBy: trackByFn">
                                <div class="app-grid grid items-center gap-10 py-3 px-6 md:px-8 border-b">
                                    <div class="hidden lg:block">
                                        {{app.stt}}
                                    </div>
                                    <div>
                                        {{app.code}}
                                    </div>
                                    <div>
                                        {{app.name}}
                                    </div>
                                    <div class="hidden lg:block">
                                        {{app.description}}
                                    </div>

                                    <div>
                                        <button mat-icon-button (click)="editApp(app)">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                        </button>

                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:more_vert'"></mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button (click)="deleteApp(app)" mat-menu-item>
                                                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                <span>Xóa</span>
                                            </button>

                                        </mat-menu>
                                    </div>
                                </div>

                                <mat-paginator #paginator
                                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{'pointer-events-none': isLoading}" [length]="totalItems"
                                    [pageSize]="pageSize" [pageIndex]="pageNumber" [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true" (page)="onPageChange($event)">
                                </mat-paginator>

                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- <mat-paginator
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}"
                            [length]="pagination.length"
                            [pageIndex]="pagination.page"
                            [pageSize]="pagination.size"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="true"></mat-paginator> -->

                </ng-container>
            </ng-container>

            <ng-template #rowDetailsTemplate let-app>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected app form -->
                        <form class="flex flex-col w-full" [formGroup]="selectedappForm">

                            <div class="flex flex-col sm:flex-row p-8">

                                <!-- app images and status -->
                                <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                                    <div class="flex flex-col items-center">
                                        <div class="w-32 h-44 border rounded overflow-hidden">
                                            <ng-container
                                                *ngIf="selectedappForm.get('images').value.length; else noImage">
                                                <img class="w-full h-full object-cover"
                                                    [src]="selectedappForm.get('images').value[selectedappForm.get('currentImageIndex').value]">
                                            </ng-container>
                                            <ng-template #noImage>
                                                <span class="flex items-center min-h-20 text-lg font-semibold">NO
                                                    IMAGE</span>
                                            </ng-template>
                                        </div>
                                        <div class="flex items-center mt-2 whitespace-nowrap"
                                            *ngIf="selectedappForm.get('images').value.length">
                                            <button mat-icon-button (click)="cycleImages(false)">
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_mini:arrow-long-left'"></mat-icon>
                                            </button>
                                            <span class="font-sm mx-2">
                                                {{selectedappForm.get('currentImageIndex').value + 1}} of
                                                {{selectedappForm.get('images').value.length}}
                                            </span>
                                            <button mat-icon-button (click)="cycleImages(true)">
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="flex flex-col mt-8">
                                        <span class="font-semibold mb-2">app status</span>
                                        <mat-slide-toggle [formControlName]="'active'" [color]="'primary'">
                                            {{selectedappForm.get('active').value === true ? 'Active' :
                                            'Disabled'}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>

                                <div class="flex flex-auto flex-wrap">
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                        <!-- Name -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Name</mat-label>
                                            <input matInput [formControlName]="'name'">
                                        </mat-form-field>

                                        <!-- SKU and Barcode -->
                                        <div class="flex">
                                            <mat-form-field class="w-1/3 pr-2">
                                                <mat-label>SKU</mat-label>
                                                <input matInput [formControlName]="'sku'">
                                            </mat-form-field>
                                            <mat-form-field class="w-2/3 pl-2">
                                                <mat-label>Barcode</mat-label>
                                                <input matInput [formControlName]="'barcode'">
                                            </mat-form-field>
                                        </div>

                                        <!-- Category, Brand & Vendor -->
                                        <div class="flex">
                                            <mat-form-field class="w-1/3 pr-2">
                                                <mat-label>Category</mat-label>
                                                <mat-select [formControlName]="'category'">
                                                    <ng-container *ngFor="let category of categories">
                                                        <mat-option [value]="category.id">
                                                            {{category.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="w-1/3 px-2">
                                                <mat-label>Brand</mat-label>
                                                <mat-select [formControlName]="'brand'">
                                                    <ng-container *ngFor="let brand of brands">
                                                        <mat-option [value]="brand.id">
                                                            {{brand.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="w-1/3 pl-2">
                                                <mat-label>Vendor</mat-label>
                                                <mat-select [formControlName]="'vendor'">
                                                    <ng-container *ngFor="let vendor of vendors">
                                                        <mat-option [value]="vendor.id">
                                                            {{vendor.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <!-- Stock and Reserved -->
                                        <div class="flex">
                                            <mat-form-field class="w-1/3 pr-2">
                                                <mat-label>Stock</mat-label>
                                                <input type="number" matInput [formControlName]="'stock'">
                                            </mat-form-field>
                                            <mat-form-field class="w-1/3 pl-2">
                                                <mat-label>Reserved</mat-label>
                                                <input type="number" matInput [formControlName]="'reserved'">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- Cost, Base price, Tax & Price -->
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Cost</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput [formControlName]="'cost'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Base Price</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput [formControlName]="'basePrice'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Tax</mat-label>
                                            <span matSuffix>%</span>
                                            <input type="number" matInput [formControlName]="'taxPercent'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Price</mat-label>
                                            <span matSuffix>$</span>
                                            <input matInput [formControlName]="'price'">
                                        </mat-form-field>
                                    </div>

                                    <!-- Weight & Tags -->
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Weight</mat-label>
                                            <span matSuffix>lbs.</span>
                                            <input matInput [formControlName]="'weight'">
                                        </mat-form-field>

                                        <!-- Tags -->
                                        <span class="mb-px font-medium leading-tight">Tags</span>
                                        <div
                                            class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                                            <!-- Header -->
                                            <div class="flex items-center -my-px py-2 px-3">
                                                <div class="flex items-center flex-auto min-w-0">
                                                    <mat-icon class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                                    <input class="min-w-0 ml-2 py-1 border-0" type="text"
                                                        placeholder="Enter tag name" (input)="filterTags($event)"
                                                        (keydown)="filterTagsInputKeyDown($event)" [maxLength]="50"
                                                        #newTagInput>
                                                </div>
                                                <button class="ml-3 w-8 h-8 min-h-8" mat-icon-button
                                                    (click)="toggleTagsEditMode()">
                                                    <mat-icon *ngIf="!tagsEditMode" class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                                                    <mat-icon *ngIf="tagsEditMode" class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                </button>
                                            </div>
                                            <!-- Available tags -->
                                            <div
                                                class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                                                <!-- Tags -->
                                                <ng-container *ngIf="!tagsEditMode">
                                                    <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                                        <mat-checkbox class="flex items-center h-10 min-h-10 pl-1 pr-4"
                                                            [color]="'primary'"
                                                            [checked]="selectedapp.tags.includes(tag.id)"
                                                            (change)="toggleappTag(tag, $event)">
                                                            {{tag.title}}
                                                        </mat-checkbox>
                                                    </ng-container>
                                                </ng-container>
                                                <!-- Tags editing -->
                                                <ng-container *ngIf="tagsEditMode">
                                                    <div class="p-4 space-y-2">
                                                        <ng-container
                                                            *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                                            <mat-form-field class="fuse-mat-dense w-full"
                                                                [subscriptSizing]="'dynamic'">
                                                                <input matInput [value]="tag.title"
                                                                    (input)="updateTagTitle(tag, $event)">
                                                                <button mat-icon-button (click)="deleteTag(tag)"
                                                                    matSuffix>
                                                                    <mat-icon class="icon-size-5"
                                                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                                </button>
                                                            </mat-form-field>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <div class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer border-t hover:bg-gray-50 dark:hover:bg-hover"
                                                    *ngIf="shouldShowCreateTagButton(newTagInput.value)"
                                                    (click)="createTag(newTagInput.value); newTagInput.value = ''"
                                                    matRipple>
                                                    <mat-icon class="mr-2 icon-size-5"
                                                        [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                                    <div class="break-all">Create "<b>{{newTagInput.value}}</b>"
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button class="-ml-4" mat-button [color]="'warn'" (click)="deleteSelectedapp()">
                                    Delete
                                </button>
                                <div class="flex items-center">
                                    <div class="flex items-center mr-4" *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">app updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        </ng-container>
                                    </div>
                                    <button mat-flat-button [color]="'primary'" (click)="updateSelectedapp()">
                                        Update
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noapps>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                    apps!</div>
            </ng-template>

        </div>

    </div>
</div>

<fuse-drawer class="w-screen min-w-screen sm:w-140 sm:min-w-140 z-999" fixed [mode]="'over'" [name]="'addDrawer'"
    [position]="'right'" [opened]="false" (openedChanged)="drawerOpenedChanged($event)" #addDrawer>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <!-- New App -->
        <app-new-app *ngIf="drawerComponent === 'new-app'" [drawer]="addDrawer" (onClosed)="getApps()"></app-new-app>
        <!-- Edit App -->
        <app-edit-app *ngIf="drawerComponent === 'edit-app'" [drawer]="addDrawer" [data]="selectedData"
            (onClosed)="getApps()"></app-edit-app>
    </div>
</fuse-drawer>